
.body {
  font-family: 'Lato', sans-serif;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 700px;
  background: #1C6663;
  flex-direction: column;
}

/**  #1C6663 **/

.boxes {
  font-family: 'Lato', sans-serif;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 700px;
  background: #1C6663;
  flex-direction: column;
  display: flex;
}

.fa { 
  color: #222;
  margin: 6px;
}


footer {
  padding: 4px;
  background-color: #f7f5f2;
  font-family: 'Lato', sans-serif;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  text-align: center;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.title {
  font-weight: 800;
  text-align: center;
  color: aliceblue;
  font-size: 4vw;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar {
  font-size: 18px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
  background-color: #053D48;
  z-index:4;
  position: relative;
  width: 100%;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links,
.logo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

.active {
  display: block;
}

@media screen and (min-width: 768px) {
  .navbar {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0;
      height: 70px;
      align-items: center;
  }

  .main-nav {
      display: flex;
      margin-right: 30px;
      flex-direction: row;
      justify-content: flex-end;
  }

  .main-nav li {
      margin: 0;
  }

  .nav-links {
      margin-left: 40px;
  }

  .logo {
      margin-top: 0;
  }

  .navbar-toggle {
      display: none;
  }

  .logo:hover,
  .nav-links:hover {
      color: rgba(255, 255, 255, 1);
  }
}

.row {
  display: flex;
  flex: 0 1 auto; 
  flex-direction: row;
  background-color: #eee;
  border: 1px solid #ddd;
  text-align: center;
  width: 900px;
  height: 440px;
}

.index-row {
  display: flex;
  flex: 0 1 auto; 
  flex-direction: row;
  background: #1C6663;
  border: 1px solid #ddd;
  text-align: center;
  width: 900px;
  height: 440px;
}

.left-box {
  height: 440px;
  width: 500px;
  background-color: #053D48;
}

.login-box {
  display: flex;
  flex: 0 1 auto; 
  flex-direction: column;
  padding: 46px;
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 20px;
  text-align: center;
  width: 350px;
  height: 400px;
}

textarea {
  height: 50px;
  width: 300px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  background-color: inherit;
  border: 1px solid #333;
  border-radius: 6px;
  margin-top: 4px;
  padding: 8px;
  color: #111;
}

input {
  background-color: inherit;
  border: 1px solid #333;
  border-radius: 10px;
  margin: 4px;
  padding: 8px;
  color: #111;
  height: 50px;
}

.btns {
  display: block;
  margin: 8px;
  flex-direction: row;
  justify-content: space-between;
}

.auth-button {
  padding: 15px 60px;
  background-color: #EE2375;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
}

.signin-txt {
  color: #ffffff
}

.welcome-box {
  position: absolute;
  top: 100px;
}

.welcome {
  font-weight: 800;
  text-align: center;
  color: aliceblue;
  font-size: 3vw;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  background-color: #053D48;
  align-items: center;
  justify-content: center;
  position: fixed
}

.footer-text {
  text-align: center;
  color: #ffffff;
  margin-top: 10px
}

.description {
  font-weight: 800;
  text-align: center;
  color: aliceblue;
  font-size: 28px
}

.description-long {
  text-align: center;
  color: aliceblue;
  font-size: 17px
}

.icon {
  color: #ffffff;
  font-size: 100px;
  margin-top: 150px;
}

/* grid */

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background:#f0f0f0;
}
img {
  max-width:100%;
}
.card-grid {
  width:100%;
  margin-top: 80px
}
.card-grid:after {
  content: "";
  display: table;
  clear: both;
}

.card-wrap {
  float:left;
  width:100%;
  padding:15px;
}
@media (min-width: 500px) {
  .card-wrap {
    width:50%;
  }
}
@media (min-width: 720px) {
  .card-wrap {
    width:25%;
  }
}
.card {
  background-color:white;
  border-radius:5px;
  border:1px solid #ccc;
  border-bottom:2px solid #ccc;
}
.card > div {
  padding:0 1em;
}

.sm-icon {
  color: black;
  cursor: pointer;
  font-size: 20px
}

.sm-icon-edit {
  color: #1C6663
}

.sm-icon-delete {
  color: rgb(165, 0, 0);
}

.button-sm-edit {
  padding: 15px 15px;
  background-color: #1C6663;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
}
.button-sm-delete {
  padding: 15px 15px;
  background-color: red;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
}
.buttons {
  align-self: center;
}

.buttons-2 {
  align-self: center;
  align-content: center;
  align-items: center;
  position: absolute;
  bottom: 0px;
  right: 0px
}

.record-status {
  color: #1C6663
}

/* filter select tag */

.filter-row {
  flex-direction: row;
  position: absolute;
  right: 0;
  display: flex;
  top: 100px;
  justify-content: space-between;
}

.type {
  color: rgb(165, 0, 0);
  font-size: 14px;
  margin-left: 10px
}


select {
  background: transparent;
  border: none;
  font-size: 14px;
  height: 29px;
  width: 255px;
  margin-right: 10px;
  color: aliceblue;
}

.filter-button {
  height: 29px;
  width: 60px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #053D48;
  color: aliceblue;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 15px;
}

.status-update-button {
  height: 29px;
  width: 100px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #053D48;
  color: aliceblue;
  border-radius: 20px;
  cursor: pointer;
}

.modaloverlay {
  background: rgba(0, 0, 0, 0.8);
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  z-index: -1;
  display: none;
}
.modaloverlay:target {
  display: block;
  opacity: 1;
  pointer-events: auto;
  z-index: 99999;
}
.modaloverlay .modal {
  background-color: white;
  height: 100%;
  position: relative;
  margin: 0 auto;
  padding: 3em;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
@media (min-width: 60em) {
  .modaloverlay .modal {
    height: 75%;
    margin: 5% auto;
    max-height: 57em;
    max-width: 66em;
    width: 85%;
  }
}
.modaloverlay .modal > iframe, .modaloverlay .modal > div {
  border: none;
  width: 100%;
  height: 100%;
}
.modaloverlay .close {
  background-color: turquoise;
  color: white;
  font-size: 24px;
  padding: 8px 12px;
  position: absolute;
  right: 0;
  text-align: center;
  text-decoration: none;
  top: 0;
  z-index: 1;
}

.modal-img {
  height: 400px;
  width: 500px;
}

.modal-record-details {
  display: flex;
  flex-direction: column;
  margin-left: 25px
}

.modal-record-text {
  width: 90%;
  margin-bottom: 1rem;
}

.modal-record-type {
  font-size: 1.7rem;
    background: linear-gradient(#F83487, #FE8361);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.modal-record-status {
  font-size: 15px
}

.row-plain {
  display: inline-grid;
  grid-row-gap: 50px;
}

.user-record-stats {
  width: 150px;
  height: 70px;
  top: 80px;
  left: 5px;
  margin-top: 10px;
  margin-left: 15px
}

.stat-box {
  background-color: #053D48;
  width: 9vw;
  height: 7.5vw;
  border-color: aliceblue;
  border: #ddd;
  border-width: 5px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  grid-row-start: 1;
}

.row-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

.stat-number {
  font-size: 20px;
  color: aliceblue
}
.stat-text {
  font-size: 10px;
  color: aliceblue
}

.dropdown {
  background-color: inherit;
  border: 1px solid #333;
  border-radius: 10px;
  margin: 4px;
  padding: 8px;
  color: #111;
  height: 50px;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    /* Styles */
    .selects {
      height: 29px;
      overflow: hidden;
      width: 29vw;
      background-color: #053D48;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
    /* Styles */
    .selects {
      height: 29px;
      overflow: hidden;
      width: 32vw;
      background-color: #053D48;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
    }
    .select-status {
      position: absolute;
      top: 1010px;
      right: 0;
      display: flex;
      flex-direction: row;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
    /* Styles */
    .selects-modal {
      height: 29px;
      overflow: hidden;
      width: 41vw;
      background-color: #053D48;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
    }
    .modal-content {
      display: flex;
      flex-direction: column;
    }
    .select-status {
      position: absolute;
      top: 1010px;
      right: 0;
      display: flex;
      flex-direction: row;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    /* Styles */
    .selects {
      height: 29px;
      overflow: hidden;
      width: 30vw;
      background-color: #053D48;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
    }
    .modal-content {
      display: flex;
      flex-direction: row;
    }
    .select-status {
      position: absolute;
      top: 450px;
      right: 0;
      display: flex;
      flex-direction: row;
    }
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
    /* Styles */
    .selects {
      height: 29px;
      overflow: hidden;
      width: 30vw;
      background-color: #053D48;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
    }
    .modal-content {
      display: flex;
      flex-direction: row;
    }
    .select-status {
      position: absolute;
      top: 450px;
      right: 0;
      display: flex;
      flex-direction: row;
    }
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    /* Styles */
    .selects {
      height: 29px;
      overflow: hidden;
      width: 30vw;
      background-color: #053D48;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
    }
  .modal-content {
    display: flex;
    flex-direction: row;
  }
  .select-status {
    position: absolute;
    top: 450px;
    right: 0;
    display: flex;
    flex-direction: row;
  }
}


.bg-img {
  height: 440px;
  width: 500px;
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
    /* Styles */
    .selects {
      height: 29px;
      overflow: hidden;
      width: 255px;
      background-color: #053D48;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
      margin: 5px
    }
    .modal-content {
      display: flex;
      flex-direction: row;
    }
    .select-status {
      position: absolute;
      top: 460px;
      right: 0;
      display: flex;
      flex-direction: row;
    }
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
    /* Styles */
    .select-status {
      position: absolute;
      top: 450px;
      right: 0;
      display: flex;
      flex-direction: row;
    }
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
    /* Styles */
}


/* vietnamese */
.new-record {
  display: flex;
  flex: 0 1 auto; 
  flex-direction: column;
  padding: 46px;
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 20px;
  text-align: center;
  width: 350px;
  height: 400px;
  align-items: center;
}


/* Custom dropdown */
.custom-dropdown {
}

.custom-dropdown select {
  background-color: inherit;
  border: 1px solid #333;
  border-radius: 10px;
  color: #111;
  height: 50px;
  width: 300px;
}

.file-upload {
	position: relative;
  display: inline-block;
  justify-content: center;
  width: 300px;
}

.file-upload-label {
  display: block;
  padding: 1em 2em;
  color: #fff;
  background:#053D48;
  border-radius: .4em;
  transition: background .3s;
  width: 400px;
  border: 1px solid #333;
  border-radius: 6px;
  margin: 4px;
  height: 50px;
  justify-content: center;
}
    
.file-upload-input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 1;
    width:0;
    height: 100%;
    opacity: 0;
}